html
    head
        title Course Registration System
    body
        h1 Gurukul: Course Registration System
        h3 Please select your option!
        ul
            li
                a(href="/getcoursesavailable") View Available Courses
            li
                a(href="/addcourse") Add a new course
            li
                a(href="/getcoursesavailable") Delete a course
            li
                a(href="/viewstudents") View details of students registered