html
    head
        title Course Registration System
    body
        h1 Gurukul: Course Registration System
        h3 Please select your option below!
        br
        a(href="/signup")
            button Signup
        small  * For students only
        br
        br
        a(href="/login")
            button Login
        