html
    head
        title Course Registration System
    body
        h1 Gurukul: Course Registration System
        h3 Please select your option!
        ul
            li
                a(href="/getcoursesregistered/" + id) View Registered Courses
            li
                a(href="/getcoursesavailable") View Available Courses
